<div class="jumbotron">
  <h1>GNG Shoes Distribution Center</h1>
</div>
<hr>

<div class="wrapper">
  <div class="well">
    <button type="button" class="btn btn--m btn--blue"><a href="/stores">View Shoes Store</a></button>
  </div>
<hr>
  <div class="well">
    <button type="button" class="btn btn--m btn--blue"><a href="/brands">View Shoes Brand</a></button>
  </div>
</div>
<hr>
