<div class="jumbotron">
  <h1>Shoe Distribution</h1>
</div>

<div class="container">
  <button type="button"><a href="#">View Shoes Store</a></button>
  <button type="button"><a href="#">View Shoes Brand</a></button>
</div>
