<div class="jumbotron">
  <h1>Shoe Distribution Center</h1>
  <p><h1>Brands</h1></p>
</div>

<% if @brands.any? %>
<h1>Here is a list of all of the Brands</h1>
<ul>
  <% @brands.each() do |brand| %>
  <li><a href="/brands/<%=brand.id()%>"><%=brand.description%></a></li>
  <% end %>
</ul>
<% else %>
  <h1>The Brands Database is currently empty.</h1>
<% end %>

<hr>
<hr>
<hr>

<h1>Create a shoe Brand </h1>
<form action="/brands" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Add a Shoe Brand</label>
    <input class="form-control" id="name" type="text" name="name" placeholder="Enter Store Name Here">
    <button type="submit" class="button btn">Submit!</button>
  </div>
</form>

<hr>
<hr>
<hr>
<button type="submit" class="btn"><a href="/">Home</a></button>
