<h3>Oops, you did it again! there were some errors:</h3>
<p>In order to fix the method, Please make sure:</p>
<ul>
  <li>A store cannot be saved if you enter a blank name</li>
  <li>A brand cannot be saved if you enter a blank name</li>
</ul>
<button type="sumit" class="btn"><a href="/">Home</a></button>
